---

### .gitignore

```gitignore
# Python virtual environments
venv/
.env/
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3


# macOS files
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Static files (optional if you handle static files differently)
staticfiles/
