{% extends 'blog/base.html' %}

{% block content %}
<!-- Main Content -->
<div class="main-content">
    <!-- Blog Posts -->
    <div class="posts">
        {% for post in posts %}
        <div class="post">
            <img src="https://via.placeholder.com/300x200" alt="Post image" />
            <div class="post-info">
                <div class="category">Barcelona / <span class="date">2 days ago</span></div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content |truncatewords:20 }}</p>
                <p class="author">By <a href="#">{{user}}</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <!-- Sidebar -->
    <aside class="sidebar">
        <section>
        <h3>RECENT POSTS</h3>
        <ul>
            <li><a href="#">Lamine Yamal signs new six-year contract with Barcelona</a></li>
            <li><a href="#">Real Madrid confirm Xabi Alonso as new head coach</a></li>
            <li><a href="#">Tottenham vs Brighton preview</a></li>
            <li><a href="#">Newcastle finish strong against Everton</a></li>
            <li><a href="#">Arsenal offer for Chelsea wonderkid</a></li>
        </ul>
        </section>
        <section>
        <h3>MATCH PREVIEWS</h3>
        <ul>
            <li><a href="#">Premier League Matchday 33: Ten things to watch</a></li>
            <li><a href="#">England vs Latvia preview</a></li>
        </ul>
        </section>
    </aside>
    </div>
{% endblock %}